TOKEN=YOUR TOKEN
PREFIX=YOUR_PREFIX
INVITE_LINK=YOUR_BOT_INVITE_LINK_HERE
SUPPORT_GUILD_ID=YOUR_SUPPORT_GUILD_ID
GUILD_PARTNER_ID= []
POLL_CHANNEL_ID=THE_CHANNEL_ID_FOR_THE_RESULT_OF_THE_POLL
#need to be a channel which in the support server and where the bot can send messages