{
    "image_link" : {
        "B" : "https://lfbn-idf3-1-5-236.w81-249.abo.wanadoo.fr/bello/sby/static/Rang_B.webp",
        "E" : "https://lfbn-idf3-1-5-236.w81-249.abo.wanadoo.fr/bello/sby/static/Rang_E.webp",
        "C" : "https://lfbn-idf3-1-5-236.w81-249.abo.wanadoo.fr/bello/sby/static/Rang_C.webp",
        "A" : "https://lfbn-idf3-1-5-236.w81-249.abo.wanadoo.fr/bello/sby/static/Rang_A.webp",
        "D" : "https://lfbn-idf3-1-5-236.w81-249.abo.wanadoo.fr/bello/sby/static/Rang_D.webp",
        "S" : "https://lfbn-idf3-1-5-236.w81-249.abo.wanadoo.fr/bello/sby/static/Rang_S.webp",
        "LegendaryS" : "https://lfbn-idf3-1-5-236.w81-249.abo.wanadoo.fr/bello/sby/static/Legende.png",
        "treasureS" : "https://lfbn-idf3-1-5-236.w81-249.abo.wanadoo.fr/bello/sby/static/Treasure.png",
        "SpecialS" : "https://lfbn-idf3-1-5-236.w81-249.abo.wanadoo.fr/bello/sby/static/rare.png",
        "DivinityS" : "https://lfbn-idf3-1-5-236.w81-249.abo.wanadoo.fr/bello/sby/static/divinite.png",
        "Boss" : "https://lfbn-idf3-1-5-236.w81-249.abo.wanadoo.fr/bello/sby/static/boss.png",
        "Shiny" : "https://example.com/"

    },
    "emoji" : {
    "treasureS" : "Emoji markdown for Treasure",
    "B" : "Emoji markdown for B",
    "E" : "Emoji markdown for E",
    "C" : "Emoji markdown for C",
    "A" : "Emoji markdown for A",
    "D" : "Emoji markdown for D",
    "S" : "Emoji markdown for S",
    "DivinityS": "Emoji markdown for Divinity",
    "LegendaryS": "Emoji markdown for Legendary",
    "SpecialS": "Emoji markdown for Special",
    "Boss": "Emoji markdown for Boss",
    "Halloween" : "Emoji markdown for Halloween",
    "Noël" : "Emoji markdown for Noël",
    "St-Valentin" : "Emoji markdown for St-Valentin",
    "Printemps" : "Emoji markdown for Printemps",
    "Pâques" : "Emoji markdown for Pâques",
    "Estival" : "Emoji markdown for Estival",
    "Autre" : "Emoji markdown for Autre",
    "bronze" : "Emoji markdown for bronze trophe",
    "argent" : "Emoji markdown for argent trophe",
    "or" : "Emoji markdown for gold trophe"
 }
}
